@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  justify-content: center;
}

img {
  width: 600px;
  margin-bottom: 15px;
}

.buttons{
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 0 15px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, 
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  background-color: #eeeeee;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 0 20px;
}

a {
  color: grey;
  text-decoration: none;
}


